<div class="container p-2">
    <div class="row  bg-dark text-light text-center">
        <div class="col-sm">
            <h6>Imagen</h6>
        </div>
        <div class="col-sm">
            <h6>Nombre</h6>
        </div>
        <div class="col-sm">
            <h6>Descripción</h6>
        </div>
        <div class="col-sm">
            <h6>Precio</h6>
        </div>
        <div class="col-sm">
            <h6>Eliminar</h6>
        </div>
    </div>
    {{#each products}}
        <div class="row text-center p-2">
        <div class="col-sm">
            <img class="card-img-top" src="{{foto}}" alt="Img {{nombre}}">
        </div>
        <div class="col-sm my-auto">
            {{nombre}}
        </div>
        <div class="col-sm my-auto">
            {{descripcion}}
        </div>
        <div class="col-sm my-auto">
            S/.{{precio}}
        </div>
        <div class="col-sm my-auto">
            <a href="/products/delete/{{id}}" class="btn btn-danger">Chau</a>
        </div>
    </div>
    {{/each}}    
</div>